<a href="https://colab.research.google.com/github/ghatagessg/ghatagessg/blob/main/Copy_of_factorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

# Example usage:
def factorial(n):
  if (n==1 or n==0) :
    return 1
  else:
    return n * factorial(n-1)
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

number = 0
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120
The factorial of 0 is 1

In [4]:
ssg="SSG"
print("My name is",ssg)

My name is SSG

In [2]:
# multiplecation table of given number
def multtable(n):
  for i in range(1,111):
    print(' ',i*n,' ')

 # function calling
multtable(7)

  7
  14
  21
  28
  35
  42
  49
  56
  63
  70
  77
  84
  91
  98
  105
  112
  119
  126
  133
  140
  147
  154
  161
  168
  175
  182
  189
  196
  203
  210
  217
  224
  231
  238
  245
  252
  259
  266
  273
  280
  287
  294
  301
  308
  315
  322
  329
  336
  343
  350
  357
  364
  371
  378
  385
  392
  399
  406
  413
  420
  427
  434
  441
  448
  455
  462
  469
  476
  483
  490
  497
  504
  511
  518
  525
  532
  539
  546
  553
  560
  567
  574
  581
  588
  595
  602
  609
  616
  623
  630
  637
  644
  651
  658
  665
  672
  679
  686
  693
  700
  707
  714
  721
  728
  735
  742
  749
  756
  763
  770